.copyButton{
       color: #fff !important;
    background-color: #1b55e2!important;
    border-color: #1b55e2;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 5px;
}
.dt-button-collection{
    padding: 0;
    margin-top: 20px;
}
.buttons-columnVisibility{

    text-decoration: none;
    border-bottom:0.2px solid white;
    background: white;
    color:black;
    font-weight: 400;
    
    
  }
 .buttons-columnVisibility.active{
   background-color: #1b55e2!important;
    
    
  }
        
.copyButton:hover,
.copyButton:focus {
    color: #3b3f5c;
    background-color: #f1f2f3;
    border-color: #d3d3d3;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 #e0e6ed,0 2px 10px 0 #e0e6ed;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    text-shadow: 0 0 black;
}
.filter_label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
      color: #888ea8;
    font-weight: 600;
    margin-top: 13px;
    margin-right: 10px;
}
.filter_label1  {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
      color: #888ea8;
    font-weight: 600;
    height: 38px;
    margin-top: 13px;
   
}

.filter_label1 select {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
      color: #888ea8;
    font-weight: 600;
    height: 38px;
    margin-top: 13px;
   
}

.filter_label input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
       margin-top: 13px;
}